/**
* Define our styles here
*/

.navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-heading {
    font-weight: bold;
}

.nav {
    text-transform: uppercase;
    font-weight: bold;
}
