/**
* Define our styles here
*/
body {
    color: #fff;
    background-image: url('../img/binding_dark.png');
    background-repeat: repeat;
}

a {
    color: #c8c8c8;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

.sponsors {
    padding: 25px 0px;
}

.past-sponsors p {
    font-size: 12pt;
}

.nav {
    text-transform: uppercase;
    font-weight: bold;
}

.nav a {
    color: #c8c8c8;
}

.well blockquote {
    border-color: #ddd;
}

.well {
    background-color: #303338;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

blockquote p {
    font-size: 14px
}

.jumbotron {
    background-image:url('../img/bannerbg.png');
    border: 1px solid black;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px #141517;
}

.navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

.panel {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    font-size: 12pt;
}

.panel-heading {
    font-weight: bold;
}

.icon {
    width: 125px;
    height: 125px;
}

.social-media-icon {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

a.menu-icon {
    padding: 0px;
}

.tourney {
    padding-bottom: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 4px 4px 10px #141517;
}

.tagline {
    font-style: italic;
}


