/**
* Define our styles here
*/
body {
    color: #fff;
    background-image: url('../img/binding_dark.png');
    background-repeat: repeat;
}

body > .container {
}

.nav {
    text-transform: uppercase;
    font-weight: bold;
}

.nav a {
    color: #c8c8c8;
}

.well blockquote {
    border-color: #ddd;
}

.well {
    background-color: #303338;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.6);
}

blockquote p {
    font-size: 14px
}

.jumbotron {
    background-image:url('../img/bannerbg.png');
    border: 1px solid black;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.6);
}

.navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.6);
}

.panel {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
}

.panel-heading {
    font-weight: bold;
}

.icon {
    width: 125px;
    height: 125px;
}

.tourney {
    padding-bottom: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tagline {
    font-style: italic;
}


