
#wrapper {
    width: 900px;
    margin: 10px auto;
    background-color: #FFF;
    padding: 0px 40px; 
}


body {
    padding-top: 40px;
    background-image: url(file:///C|/Users/Mark/Desktop/BR7/pics/league.png);
    background-repeat: repeat;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
